.formContainer{
    display: flex;    
   }
   
   .column{
       flex: 50%;
   }
   
   .Worker{
       
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       margin-top: 15px;
       margin-left: 10px;
       line-height: normal;
       letter-spacing: normal;
       color: #777777;
   }
   
   .Rectangle-21 {
       width: 100.5px;
       height: 29.5px;
       font-size: 13px;
       margin-left: 10px;
       margin-top: 3px;
       border-radius: 2.5px;
       border: solid 0.5px #d4d4d4;
       background-color: #ffffff;
       color: #666666;
   }
   
   .Full-Name {
       
       margin: 11px 213px 2.5px 10px;
       flex-direction: column;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #777777;
   }
   
   .Rectangle-18 {
       width: 203px;
       height: 19.5px;
       margin: 0 42.5px 1px 12px;
       flex-direction: column;
       border-radius: 2.5px;
       border: solid 0.5px #d4d4d4;
       background-color: #ffffff;
       font-size: 8px;
   }
   
   .label {
       flex-direction: column;
       margin-left: 10px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #777777;
   }
   
   .Rectangle-22 {
       width: 203px;
       height: 39.5px;
       margin: 2.5px 43.5px 11px 11px;
       border-radius: 2.5px;
       font-size: 6px;
       flex-direction: column;
       border: solid 0.5px #d4d4d4;
       background-color: #ffffff;
   }
   
   
   .LinkedIn-Link-optional {
       margin-top: 35px;
       flex-direction: column;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;   
       color: #777777;
   }
   
   
   .GitHub-Link-optional {
       margin-top: 20px;
       flex-direction: column;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #777777;
   }
   
   .Behance-Link-optional {
      
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #777777;
   }
   
   .Instagram-Link-optional {
    
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: left;
       color: #777777;
   }
   
   .Rectangle-23 {
       width: 250px;
       flex-direction: column;
       font-size: $font-size;
       border-radius: 2.5px;
       border: solid 0.5px #d4d4d4;
       background-color: #ffffff;
       padding: 5px;
   }