.formContainer{
    display: inline-block; 
    background-color: #000; 
    width: 100%;
    height: 89%; 
}

.Email {

       margin-left: 10px;
       margin-top: 20px;
       margin-bottom: 5px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       text-align: left;
       color: #fff;
}

.Age{  
       color:white;
       margin-left: 10px;
       margin-top: 20px;
       margin-bottom: 5px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
}

.Gender{
       color:white;
       margin-left: 10px;
       margin-top: 20px;
       margin-bottom: 15px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       text-align: left;
}

.Services{
       color:white;
       margin-left: 10px;
       margin-top: 20px;
       margin-bottom: 5px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       text-align: left;
 
}

.Residence{
       color:white;
       margin-left: 10px;
       margin-top: 20px;
       margin-bottom: 5px;
       font-family: $font;
       font-size: $font-size;
       font-weight: 500;
       text-align: left;

}
   
.Rectangle-18 {
       width: 350px;
       height: 19.5px;
       margin: 0 auto 1px 12px;
       flex-direction: column;
       border-radius: 5px;
       border-bottom: 1px solid gold;
       border-top: none;
       border-left: none;
       border-right: none;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
       background-color: transparent;
       font-size: 18px;
       color: gold;
       font-family: $font;
       padding: 5px  ;
}

.Rectangle-21 {
       width: 100.5px;
       height: 29.5px;
       font-size: 15px;
       margin-left: 10px;
       margin-top: 5px;
       border-radius: 2.5px;
       border: solid 0.75px gold;
       background-color: transparent;
       font-size: 8px;
       color: gold;
       font-family: $font;
}

.select{
       font-size: 15px;
       background-color: #000;
       color: gold;
}

.Submit{
       margin-top: 15px;
       margin-left: 300px;
       background-color: #000;
       border-radius: 20px;
       color:gold;
       padding: 8px;
       cursor: pointer;
       transition: .3s ease-in-out;
}

.Submit:hover{
       background-color: gold;
       color: #581845;
       transform: scale(1.05);
}