.dashboardHeader{
    background: $dark-blue;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.headerTitle{
    color: blanchedalmond;
    text-decoration: none;
    h1{
        margin: 0;
        font-family: 'Caveat', cursive;
    }
}

.navContent{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0px;
}

#logo{
    color: blanchedalmond;
    font-size: 30px;
}

#logoutButton{
    background: none;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 30px ;
    transition: .4sec linear;
}

#logoutButton:hover{
    color: rgb(231, 216, 216);
    transform: scale(1.1);
}