.header{
    display: flex;
    flex-direction: row;
}

#users {
    width: 24px;
    height: 24px;
    margin: 15px 14px 0;
}

.Add-Team {
    margin: 15px 90px 1.5px 3px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f2f2f;
}

#Ellipse-2 {
    width: 18px;
    height: 18px;
    margin: 15px 13px 8px auto;
    padding: 1px 1px;
    border-radius: 10px;
    border: none;
    background-color: none;
    cursor: pointer;
}

.Line-2 {
    width: 200px;
    height: 0.5px;
    margin: 15px 0 auto;
    transform: rotate(180deg);
    background-color: #ededed;
  }