.background{
    background: url('../images/bgr.jpg');
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.paper {
    padding-top: 120px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.typography{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.avatar{
    margin: 1px;
    background-color: #fff;
}

form{
    width: '100%'; 
    margin-top: 1px;
}

.submit{
    margin: 13px 2px 1px;
    padding-top: 10px;
    background-color:teal;
    font-family: 'Caveat', cursive;
}

.link{
    margin-top: 7px;
    cursor: pointer
}